@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-optical-sizing: auto;
  /* font-style: normal; */
}
